/* Footer */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ddd;
  margin-bottom: 0;
  padding: 20px;
  
}

.footer div {
  margin-bottom: 10px;
  width: 70vw;
}